ul {
    list-style: none;
    margin: 0;
    padding: 1px 0px 20px;
    margin: 0 5px;
}

.left {
    float: left;
    
}

.right{
    float: right;
}

a {
    display: block;
    padding: 14px 12px;
    color: black;
    opacity: 0.75;
    text-decoration: none;
    font-family: arial,sans-serif;
}

.logo {
    padding-top: 170px;
    padding-bottom: 37px;
    height: 92px;
    width: 272px;
}

.signin {
    background-color:#4285f4;
    color: white;
    border: 1px solid#4285f4;
    font-weight: bold;
    padding: 6px 12px;
    margin: 8px 12px 10px 8px;
    border-radius: 1px;
}

.search {
    margin-left: 670px;
    height: 30px;
    width: 500px;
    background-color: transparent;
    border-radius: 25px;
    padding-inline-start: 52px;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 16px;
    color: rgba(0,0,0,.87); 
}   

div {
    display: block;
}

center {
    display: block;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 145px;
    height: 92px;
    width: 272px;
}

#logo-container {
    width: 50%;
    margin: 0 auto;
}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 25px;
    width: 450px;
    height: 40px;
    padding-inline-start: 2em;
    font-size: 16px;
    font-family: sans-serif;
    text-shadow: none;
    cursor: text;
    border: 1px solid #e4e4e4;
    
}  

input:hover {
    box-shadow: 0 0 10px #e4e4e4;
}


#page-container {
    position: relative;
    min-height: 97.5vh;
}


#footer {
    display: block;
    position: fixed;
    width: 100%;
    background: #f2f2f2;
    bottom: 0;
    font-size: 14px;
    height: 42px;
    margin: 0 10px 0 -7px;
    padding: 0 10px 0 10px;
}

#header {
    font-size: 13px;
}

textarea:focus, input:focus {
    outline: none;
}